* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.gridRow {
  display: flex;
  flex: 1; /* Jede Zeile gleich hoch */
}

.gridItem {
  flex: 1; /* Jede Zelle gleich breit */
  
}



